.header-inner { 
padding: 0; 
margin: 0px; 
background-color:#ffffff; 
height: 240px; 
background: url(../images/kH-banner.png); 
background-repeat: no-repeat;
}

.mid-data-container { 
margin: 0 auto; 
height: 100%; 
width: 1200px; 
background-color:#ffffff;
}

#banner { 
margin: 0px;
padding: 0px 0px 0px 0px;
width: 1200px; 
height: 250px; 
background-color:#44c3e4;
}

.Banner-leftside { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px; 
width: 700px;
color: #ffffff;
text-align:left; 
float:left;
background-color:#44c3e4;
height: 0 auto; 
}

.Banner-leftside .btn1 { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px;

}

.Banner-leftside .btn2 { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px; 
}

.Banner-rightside { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px; 
width: 300px; 
float:right;
color: #ffffff;
background-color:#44c3e4; 
height: auto;
}

#video-section{
margin: 20px 0px 0px 20px ; 
padding: 0px 0px 0px 0px; 
width: 250px;
/*height: 150px;*/
border: 1px solid #ffffff;
background-color: #487791;
}

#mid-nav-section { 
margin: 10px 0px 10px 0px ;
padding: 0px 0px 0px 0px;
width: 1200px; 
height: 60px; 
/*background-color:#c9e4a7;*/
/*background-color:#0b5129;*/
background-color:#052d16;

background: -webkit-gradient(linear, left top, left bottom, from(#12763c), to(#052d16));
background: -moz-linear-gradient(top,  #12763c,  #052d16);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#12763c', endColorstr='#052d16');


color: #12763c;
}

.mid-nav-leftside { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px; 
/*width: 630px;*/
width: 1500px;
color: #12763c;
text-align:left; 
float:left;
/*background-color:#0b5129;
background-color:#052d16;*/
font-size: 15px;
font-weight: bold;
}
.mid-nav-leftside .proposal { 
margin: 20px 0px 0px 0px ; 
padding: 3px 10px 3px 10px;  
float:left;
border-right: 2px solid #ffffff;
}

.mid-nav-leftside .market { 
margin: 20px 0px 0px 0px ; 
padding: 3px 5px 3px 10px;  
float:left;
}

.mid-nav-rightside { 
margin: 0px 0px 0px 0px ; 
padding: 0px 0px 0px 0px; 
/*width: 365px;*/
width: 445px;
color: #ffffff;
text-align:right; 
float:right;
}

.mid-nav-rightside .icon1 { 
margin: 5px 5px 5px 5px ; 
padding: 9px 0px 9px 35px; 
float:left;
text-align:left;
font-size: 11px;
font-weight: bold;
width: 100px;
background: url(../images/icon-doc.png) no-repeat 0 0; 
border:0px;
background-color:#67a87a;
}

#multi-sections { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 1200px; 
/*height: 300px;*/
height: 1005px;
background-color:#e7f6d5;
color: #12763c;
}

.part1 { 
margin: 0px 10px 0px 0px;
padding: 10px 0px 10px 0px;
float:left;
width: 350px;
height: 985px;
background-color:#c9e4a7;
}

.part1 .searchholder { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 350px;
background-color:#c9e4a7;
}

.part1 .searchholder-in{ 
margin: 5px 5px 20px 5px;
padding: 0px 0px 0px 0px;
width: 340px;
/*background-color:#a1cc8f*/
background-color:#f8fcf3;
}

.part1 .spot-in{ 
margin: 5px 5px 20px 5px;
padding: 0px 0px 0px 0px;
width: 340px;
height: 110px;
/*background-color:#e7f6d5*/
background-color:#caf2bf;
}
.part1 .spot-hold{ 
background-color: rgb(202, 242, 191); 
color: #00643a; 
width: 276px; 
padding:10px 0px 10px 10px;
font-size:16px;
font-family: georgia,serif;
}

.part1 .imgholder-in{ 
margin: 5px 5px 20px 5px;
padding: 0px 0px 0px 0px;
width: 340px;
}




.part2 { 
margin: 10px 10px 0px 0px;
/*padding: 10px 0px 10px 0px;*/
padding: 0px 0px 0px 0px;
float:left;
/*width: 350px;*/
width: 550px;
background-color:#c9e4a7;
}
.pricing{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 515px;
background-color:#ffffff;
color: #052d16;
}
.pricing p{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
}
.pricing p.more{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
font-weight: bold;
text-align: right;
}
.pricing p.more a:hover, active{
color: #2789a2;
text-decoration: underline;
}

.pricing p.more a:visited{
color: #555555;
}

.pricing h1{
margin: 0px 0px 0px 0px;
padding: 0px 10px 20px 0px;
font-family: "georgia", serif;
font-size:16px;
color:#052d16;
}
.pricing ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
	font-size:14px; 
	font-family: georgia,serif;
}
.pricing ul li {
    display: block;
	background: url(../images/arrow-1.png) no-repeat 0 0;
	padding-left: 20px; 
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 0px;
}

.pricing ul li a, visited, active{
color: #0b5129;
}

.pricing ul li a:hover{
color: #1091b3;
text-decoration: none;
}

.pricing a{
color: #052d16;

}
.pricing a:hover{
color: #ffffff;
}





.part3 { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
/*float:left;*/
float: right;
width: 280px;
background-color:#c9e4a7;
/*background-color:#e8f7d4;*/
}

.part3 .video-holder { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 280px;
background-color:#c9e4a7;
}

.part3 .video-holder-in { 
margin: 10px 10px 10px 10px;
padding: 0px 0px 0px 0px;
width: 258px;
background-color:#a1cc8f;
border: 1px solid #ffffff;
}

.chart-container { 
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;
width: 1200px; 
background-color:#ffffff;
}
.chart-container .first-chart { 
padding: 0px 0px 0px 0px; 
margin: 20px 20px 10px 10px;
float: left;
/*width: 450px;
height: 360px;*/ 
width: 400px;
height: 450px;
background-color:#e7f6d5;
border: 1px solid #d9d9d9;
}
.first-chart-in { 
padding: 0px 0px 0px 0px; 
margin: 10px 0px 0px 10px;
float: left;
background: url(../images/KHSiteAccess.jpg); 
background-repeat: no-repeat;
width: 380px;
height: 318px; 
}
.chart-container .second-chart { 
padding: 0px 0px 0px 0px; 
margin: 20px 20px 10px 25px;
float: left; 
width: 280px;
height: 450px;
background-color:#e7f6d5;
border: 1px solid #d9d9d9;
}
.second-chart-in { 
padding: 0px 0px 0px 0px; 
margin: 10px 10px 10px 10px;
float: left;
background: url(../images/KHSiteHit.jpg); 
background-repeat: no-repeat;
width: 260px;
height: 394px; 
}
.chart-container .third-chart { 
padding: 0px 0px 0px 0px; 
margin: 20px 10px 10px 10px;
float: right;
width: 405px;
height: 450px;
background-color:#e7f6d5;
border: 1px solid #d9d9d9;
}
.third-chart-in { 
padding: 0px 0px 0px 0px; 
margin: 10px 0px 0px 10px;
float: left;
background: url(../images/Sum-of-IBM.jpg); 
background-repeat: no-repeat;
width: 385px;
height: 214px; 
}
.chart-container .fourth-chart { 
padding: 0px 0px 0px 0px; 
margin: 20px 100px 10px 20px;
float: right;
width: 450px;
height: 420px; 
background-color:#e7f6d5;
}
.fourth-chart-in { 
padding: 0px 0px 0px 0px; 
margin: 10px 110px 10px 10px;
float: right;
background: url(../images/PATsnapshot.jpg); 
background-repeat: no-repeat;
width: 227px;
height: 297px; 
}

#footer-bottom .leftshell {
padding: 25px 25px 25px 25px; 
margin: 0px 0px 0px 0px; 
float: left;
text-align: left;
color: #ffffff;
font-size: 12px;
font-weight: bold;
/*background-color: #5ba267;
background-color: #0b5129;*/
}

#footer-bottom .rightshell {
padding: 25px 25px 25px 25px; 
margin: 0px 0px 0px 0px; 
float: right;
/*background-color: #5ba267;
background-color: #0b5129;*/
}

.pat-head { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 1200px; 
height: auto; 
background-color:#5ba267;
}
.data-holder { 
margin: 0px 0px 0px 0px;
padding: 20px 10px 20px 20px;
width: 1160px; 
height: 0 auto !important; 
background-color:#ffffff;
}

.data-holder span { 
font-weight: bold;
}
.data-holder a, active, visited { 
color: #3cadbe;
text-decoration: none;
}
.data-holder a:hover { 
color: #3cadbe;
text-decoration: underline;
}

.tab-holder { 
margin: 0px 0px 0px 0px;
padding: 0px 10px 20px 20px;
width: 1100px; 
height: auto; 
background-color:#ffffff;
}

#team { 
margin: 0px 0px 0px 0px;
padding: 10px 0px 20px 0px;
width: 1160px; 
height: auto; 
background-color:#e6f9cd;
}
.kmt-team{
margin-left: auto;
margin-right: auto;
width: 750px;
padding: 10px 0px 20px 0px;
}
#breadcrumb-holder{
margin: 0px 0px 0px 0px;
padding: 5px 10px 5px 20px;
width: 100%px; 
background-color:#ebf8da;
font-size: 11px;
font-weight: normal;
font-family: "georgia", serif;
}

#breadcrumb-holder a{
text-decoration: none;
color: #09792f;
}
#breadcrumb-holder a:hover{
text-decoration: underline;
color: #1c2720;
}
.form-holder { 
margin: 0px 0px 0px 0px;
padding: 0px 10px 20px 20px;
width: 1100px; 
height: auto; 
background-color:#ffffff;
}
.proposal-list-holder{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 1100px;
}
.proposal-list-holder .leftpart{
margin: 5px 20px 0px 0px;
padding: 0px 0px 0px 0px;
float: left;
width: 530px;
}
.proposal-list-holder .rightpart{
margin: 5px 20px 0px 0px;
padding: 0px 0px 0px 0px;
width: 530px;
}
.prop-acc-part{ 
margin: 10px 10px 0px 0px;
/*padding: 10px 0px 10px 0px;*/
padding: 0px 0px 0px 0px;
/*float:left;*/
width: 1100px;
height: auto;
background-color:#ffffff;
}


.proposal-list-section{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 660px;
background-color:#ffffff;
color: #052d16;
}
.proposal-list-section p{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
}
.proposal-list-section p.more{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
font-weight: bold;
text-align: right;
}
.proposal-list-section p.more a:hover, active{
color: #2789a2;
text-decoration: underline;
}
.proposal-list-section p.more a:visited{
color: #555555;
}
.proposal-list-section .leftpart{
margin: 5px 40px 0px 0px;
padding: 0px 0px 0px 0px;
width: 430px;
background-color:#eeeeee;
}
.proposal-list-section .rightpart{
margin: 5px 20px 0px 0px;
padding: 0px 0px 0px 0px;
width: 430px;
float: right;
background-color:#eeeeee;
}


/*added today Jan 27th*/
.advsrh-holder { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 20px 0px;
width: 100%; 
height: auto; 
background-color:#ffffff;
}
.advsrh-holder .leftpart{ 
padding: 5px 5px 5px 5px;
width: 288px; 
height: auto; 
background-color:#ffffff;
border: 1px solid #eeeeee;
font-family: "georgia", serif;
float: left;
}
.filterhead {
margin: 0px 0px 0px 0px;
padding: 10px 5px 5px 5px;
width: 97%;
height: 30px;
color: #ffffff;
background-color: #ccffcc;
}
.fltr{ 
margin: 5px 0px 0px 0px;
padding: 0px 0px 0px 20px;
background: url(../images/icon-filter.png);
background-repeat: no-repeat;
font-size:14px;
color: #555555;
height: 30px;
width: 70px;
float: left;
}
.set { 
height: 30px;
width: 78px;
font-size:14px;
color: #555555;
float: right;
}
.advsrh-holder .rightpart{ 
padding: 5px 5px 5px 5px;
width: 818px; 
height: auto; 
background-color:#ffffff;
border: 1px solid #eeeeee;
float: right;
}
.partone{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 100%;
}

.parttwo{
margin: 40px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 100%;
}
.parttwo .secleft{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 800px;
background-color: #eeeeee;

}
.srhby{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size:14px;
color: #06371b;
font-weight: bold;
float: left;
width: 400px;
}
.result{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size:14px;
color: #06371b;
font-weight: bold;
float: right;
width: 400px;
}
.result-container{
margin: 20px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 810px;
border: 1px solid #eeeeee;
}

.list-holder { 
	padding: 0; 
	margin: 5px 0px 5px 0px;
	width: 286px;
	color: #484848;
	height: auto;
	border: 1px solid #bdbdbd;	
}
.list-holder .head { 
	padding: 10px 0px 10px 5px; 
	margin: 0px 0px 0px 0px; 
	color: #ffffff;
	background-color: #5ba267;
	font-weight: bold;
	text-align: left;
	font-size:14px;
	width: 99%;
}

.chk-holder { 
	padding: 0; 
	margin: 5px 3px 5px 3px;
	width: 278px;
	color: #484848;
	background-color: #e9f9d3;
	overflow:scroll; 
	height: 100px;
	border: 1px solid #bdbdbd;
	font-size: 12px;
}

.publish { 
	padding: 0px 0px 10px 0px; 
	margin: 5px 3px 5px 0px;
	width: 287px;
	color: #484848;
	background-color: #e9f9d3;
	border: 1px solid #bdbdbd;
	font-size: 12px;
}
.publish .head { 
	padding: 10px 0px 10px 10px; 
	margin: 0px 0px 10px 0px; 
	color: #ffffff;
	background-color: #106b36;
	font-weight: bold;
	text-align: left;
	font-size:14px;
	width: 277px;
}
.publish-field { 
	padding: 0px 0px 0px 10px; 
	margin: 5px 3px 5px 0px;
	width: 257px;
	color: #484848;
	background-color: #e9f9d3;
	font-size: 12px;
}
.left-button-holder{ 
padding: 5px 5px 5px 5px;
width: 278px; 
background-color:#eeeeee;
}
.logo-container {
    border: 1px solid #eeeeee;
    margin: 20px 0 0;
    padding: 0;
    width: 810px;
}
.logo-container .section-top {
    border: 1px solid #eeeeee;
    margin: 0px 0 0;
    padding: 20px 20px 20px 20px;
    width: 770px;
	background-color: #5ba267;
	color: #ffffff;
	font-weight: bold;
}
.logo-container .section-top  a, visited{
color: #d6f3af;
text-decoration: underline;
}

.logo-container .section-top  a:hover{
color: #555555;
text-decoration: none;
}
.logo-container .section-bottom {
    border: 1px solid #eeeeee;
    margin: 0px 0 0;
    padding: 10px 20px 20px 20px;
    width: 770px;
	background-color: #d6f3af;
	color: #555555;
}
.logo-container .section-bottom p {
font-size: 18px;
color: #555555;
font-weight: normal;
text-align: center;
}
.page-num-container{
margin: 10px 0px 0px 0px;
padding: 10px 0px 10px 0px;
width: 810px;
background-color: #eeeeee;
}
.page-nums{
margin: 5px 0px 5px 10px;
padding: 0px 0px 0px 0px;
width: 800px;
background-color: #eeeeee;
}
.page-nums .first-btn{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
display: inline;
width: 30px;
height: 25px;
}
.page-nums .fordata{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
display: inline;
font-size: 12px;
color: #000000;
font-weight: bold;
width: 100px;
height: 30px;
}
.page-nums .first-btn img{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.adv-acc-part{ 
margin: 10px 10px 0px 0px;
padding: 0px 0px 0px 0px;
/*float:left;*/
width: 290px;
height: auto;
background-color:#ffffff;
}
.acc-list-holder { 
	padding: 0; 
	margin: 0px 0px 5px 0px;
	width: 265px;
	color: #484848;
	height: auto;
	border: 1px solid #bdbdbd;	
}
.acc-list-holder .head { 
	padding: 10px 0px 10px 5px; 
	margin: 0px 0px 0px 0px; 
	color: #ffffff;
	background-color: #5ba267;
	font-weight: bold;
	text-align: left;
	font-size:14px;
	width: 99%;
}
.acc-chk-holder { 
	padding: 0; 
	margin: 5px 3px 5px 3px;
	width: 257px;
	color: #484848;
	background-color: #e9f9d3;
	overflow:scroll; 
	height: 100px;
	border: 1px solid #bdbdbd;
	font-size: 12px;
}
.acc-list-holder p{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
}
.acc-list-holder p.more{
margin: 0px 0px 0px 0px;
padding: 0px 10px 10px 0px;
font-family: "georgia", serif;
font-size:14px;
font-weight: bold;
text-align: right;
}
.acc-list-holder p.more a:hover, active{
color: #2789a2;
text-decoration: underline;
}
.acc-list-holder p.more a:visited{
color: #555555;
}

.parttwo .secright{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
width: 300px;
float: right;
}

/*added on 10th Feb*/
.logo-container-story {
    border: 1px solid #d3d1d1;
    margin: 0px 0px 0px 0px;
    padding: 0;
    width: 1100px;
}


.logo-container-story .section-top {
    border: 1px solid #eeeeee;
    margin: 0px 0 0;
    padding: 10px 20px 10px 20px;
    width: 1060px;
	background-color: #5ba267;
	color: #ffffff;
	font-weight: bold;
}
.logo-container-story .section-top  a, visited{
color: #d6f3af;
text-decoration: underline;
}

.logo-container-story .section-top  a:hover{
color: #555555;
text-decoration: none;
}
.logo-container-story .section-bottom {
    margin: 0px 0 0;
    padding: 10px 10px 10px 10px;
    width: 1080px;
	/*background-color: #d6f3af;*/
	background-color: #fafbfb;
	color: #555555;
}
.logo-container-story .section-bottom p {
font-size: 16px;
color: #555555;
font-weight: normal;
text-align: right;
}
.client-data-holder { 
margin: 0px 0px 0px 0px;
padding: 0px 0px 20px 0px;
/*width: 1100px;*/ 
width: 1160px; 
/*height: auto;*/ 

height: 1050px;
background-color:#ffffff;
}

.story-tabl-holder {
    border: 1px solid #d3d1d1;
    margin: 0px 0px 0px 0px;
    padding: 0;
    width: 725px;
}

.client-head-holder { 
margin: 0px 0px 0px 0px;
padding: 20px 0px 20px 0px;
width: 1160px;
background-color:#c1de9b;
height: 20px;
}
.name-client{
margin: 0px 0px 0px 10px;
padding: 0px 0px 10px 35px;
float: left;
font-family: "georgia", serif;
font-size:18px;
font-weight: bold;
color:#052d16;
background: url(../images/icon-client.png);
background-repeat: no-repeat;
}
.name{
padding: 0px 0px 0px 20px;
float: left;
font-family: "georgia", serif;
font-size:18px;
font-weight: bold;
color:#052d16;
}
.go{ 
padding: 0px 20px 25px 18px;
font-weight: bold;
font-size: 12px;
float: right;
color: #07391c;
background: url(../images/icon-goback.png);
background-repeat: no-repeat;
cursor: pointer;
}
.go a { 
color: #07391c;
text-decoration: underline;
}

.go a:active{ 
color: #07391c;
text-decoration: none;
}

.go a:hover{ 
color: #555555;
text-decoration: none;
}

.go a:visited{ 
color: #07391c;
text-decoration: none;
}

.client-section { 
margin: 0px auto 0px auto;
padding: 5px 0px 5px 0px;
width: 905px;
height: auto;
color: #555555;
/*border: 1px solid #c1de9b;*/
}
.client-section .info-1{ 
margin: 0px auto 0px auto;
padding: 5px 0px 5px 0px;
width: 905px;
height: 0 auto;
height: 200px;
color: #555555;
border: 1px solid #c1de9b;
background-color: #faf9f9;
}
.info-left{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
float: left;
height: auto;
width: 580px;
color: #555555;
background-color: #faf9f9;
}
.info-right{
margin: 5px 0px 0px 5px;
padding: 0px 0px 0px 0px;
float: right;
width: 300px;
color: #555555;
/*background-color: #faf9f9;*/
background-color: #edeaea;
}

.client-section .info-2{ 
margin: 10px auto 0px auto;
padding: 5px 0px 5px 0px;
width: 905px;
height: 0 auto;
height: 370px;
color: #555555;
border: 1px solid #c1de9b;
background-color: #faf9f9;
}
.info-second-left{
margin: 0px 5px 0px 0px;
padding: 0px 5px 0px 5px;
float: left;
height: auto;
width: 400px;
color: #555555;
background-color: #ffffff;
}
.info-second-right{
margin: 0px 5px 0px 0px;
padding: 0px 5px 0px 5px;
float: right;
height: auto;
width: 400px;
color: #555555;
background-color: #ffffff;
}

.client-section .info-3{ 
margin: 10px auto 0px auto;
padding: 5px 0px 20px 5px;
width: 900px;
height: 0 auto;
color: #555555;
border: 1px solid #c1de9b;
background-color: #ffffff;
}
.client-section .info-3 span.docu{ 
margin: 10px 0px 0px 0px;
padding: 10px 30px 20px 35px;
width: 34px;
height: 84px;
background: url(../images/icon-word.png);
background-repeat: no-repeat;
cursor: pointer;
font-size: 12px;
}
.client-section .info-3 span.pptfile{ 
margin: 10px 0px 0px 0px;
padding: 10px 30px 20px 35px;
width: 34px;
height: 84px;
background: url(../images/icon-ppt.png);
background-repeat: no-repeat;
cursor: pointer;
font-size: 12px;
}

.client-section .info-4{ 
margin: 10px auto 0px auto;
padding: 0px 0px 10px 0px;
width: 905px;
height: 0 auto;
color: #555555;
border: 1px solid #c1de9b;
background-color: #ffffff;
}

.shell-sect{
background-color: #ffffff; color: #000000; width: 180px;
}
.shell-sect img{
margin: 0px 0px 0px 40px;
}

.shell-sect p{
margin: 0px;
padding: 0px 10px 20px 10px;
color: #555555;
font-size: 12px;
}







