.form-pat{
	margin-left:auto;
	margin-right:auto;

    max-width: 760px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px "georgia", serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.form-pat h1 {
    font-family: "georgia", serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    /* background: #9DC45F; */
    background: #053587;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.form-pat h1 > span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.form-pat label {
    display: block;
    margin: 0px 0px 5px;
}
.form-pat label > span {
    float: left;
    margin-top: 10px;
    color: #000000;	
}
.form-pat input[type="text"], .form-pat input[type="email"], .form-pat textarea {
    color: #000000;
    height: 30px;
	line-height:15px;
    /*width: 97%;*/
	width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.form-pat select {
    color: #555;
    height: 30px;
	line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.form-pat textarea{
    height:100px;
    padding-top: 10px;
}
.form-pat select {
    background: url('../images/down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('../images/down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:104%;
    height:30px;
}
.form-pat .button {
    background-color: #053587;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
	font-weight: bold;
}
.form-pat .button:hover {
    background-color:#053587;
}

.form-pat fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #bfbbbb;
	padding: 20px;
	/*background: #f8f8f8;*/
	background: #fdfcfc;
	box-shadow: inset 0px 0px 15px #ebe8e8;
	-moz-box-shadow: inset 0px 0px 15px #ebe8e8;
	-webkit-box-shadow: inset 0px 0px 15px #ebe8e8;
}
.form-pat fieldset legend{
	color: #0fa1e0;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #f8f8f8;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: bold;
	font-size: 14px;
}

.form-pat .note{
	color: #4852D0;
	font-weight: bold;
}

.form-pat .leftfield {
width: 45%;
float: left;
}

.form-pat .rightfield {
width: 45%;
float: right;
}

.form-pat .fullfield {
width: 100%;
float: left;
}

.form-pat .required{
	color: #f33b3b;
	font-weight: bold;
}

.form-pat .lookup {
color: #0cb1dc;
text-decoration: underline;
}
.form-pat .lookup a{
	color: #0cb1dc;
	font-weight: bold;
	text-decoration: underline;
}

.form-pat .lookup a:hover{
	color: #9dc45f !important;
	text-decoration: none;
}

.form-search{
	margin-left:auto;
	margin-right:auto;
	margin-top: 3px;
    max-width: 400px;
    background: #5ba267;
    padding: 10px 20px 10px 20px;
    font: 12px "georgia", serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.form-search input[type="text"] {
    color: #000000;
    height: 30px;
	line-height:15px;
	width: 70%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.form-search .button {
    background-color: #07391c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 7px 15px 7px 15px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
	font-weight: bold;
}
.form-search .button:hover {
    background-color:#519225;
}

.pat-form .fullfield {
width: 100%;
float: left;
}

.pat-form .required{
	color: #f33b3b;
	font-weight: bold;
}
